# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vs/
.vscode/
.idea/

# Anything a Unity host project would generate around this package
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.suo
*.pidb
*.user
